# 1. File Sistem Operasi (Mac/Windows)
.DS_Store
Thumbs.db

# 2. Settingan Editor (VS Code, JetBrains, dll)
.idea/
.vscode/
*.swp
*.swo

# 3. Log debug (jika ada di root)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 4. Node Modules (Jaga-jaga kalau ada npm install di root)
node_modules/