@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

/* Autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #e5e5e5;
  -webkit-box-shadow: 0 0 0 1000px #2b2122 inset;
  box-shadow: 0 0 0 1000px #2b2122 inset;
  caret-color: #e5e5e5;
  transition: background-color 9999s ease-in-out 0s;
}

.tooltip-container {
  position: relative;
}
.tooltip-container-top {
  position: relative;
}

.tooltip-container-top:hover::after {
  content: attr(data-title);
  position: absolute;
  bottom: 170%;
  left: 50%;
  transform: translateX(-50%);

  /* Desain */
  background-color: #1c1516;
  color: #e5e5e5;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #2c2021;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 60; /* Dinaikkan sedikit biar di atas elemen lain */

  /* Animasi */
  animation: fadeIn 0.2s ease-in-out;
}

/* Membuat tooltip */
.tooltip-container:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);

  /* Desain */
  background-color: #1c1516;
  color: #e5e5e5;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #2c2021;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 60; /* Dinaikkan sedikit biar di atas elemen lain */

  /* Animasi */
  animation: fadeIn 0.2s ease-in-out;
}

/* Biar tooltip gak muncul kalau namanya belum ke-load (kosong) */
.tooltip-container[data-title=""]:hover::after,
.tooltip-container:not([data-title]):hover::after {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
